.createPostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.createPostBtn {
  display: block;
  background: transparent;
  border: 1px solid transparent;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 0 var(--color-success);
  color: var(--color-success) !important;
  transition: transform 0.3s, box-shodow 0.3s;
  outline: none;
}

.createPostBtn:hover {
  box-shadow: 0 0 1.4rem 0 var(--color-success);
  transform: scale(1.2);
}

.createPostBtn:active {
  box-shadow: 0 0 1rem 0 var(--color-success);
  transform: scale(1);
}
