.sectionFooter {
  background-color: var(--color-dark-footer);
  color: var(--color-light);
}

.footerContainer {
  display: flex;
  padding: 2rem 1rem;
  gap: 1rem;
  justify-content: space-between;
}

.footerLogo p {
  color: var(--color-primary);
}

.footerLogo a {
  color: var(--color-primary);
  padding: 2px 4px;
  transition: color 0.3s;
}

.footerLogo a:hover {
  color: var(--color-medium);
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subscription form {
  padding: 0 1rem;
}

.subscription label {
  display: block;
  margin-bottom: 3px;
  color: var(--color-primary);
}

.subscription input {
  padding: 0.5rem 1rem;
  width: 100%;
  font: inherit;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--color-dark-secondary);
  color: var(--color-light-secondary);
}

.subscription input:focus {
  outline: none;
}

.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription button {
  display: block;
  margin-top: 0.5rem;
  font: inherit;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: var(--color-dark);
  outline: none;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid transparent;
}

.subscription button:hover {
  background-color: var(--color-medium);
  color: var(--color-light);
  border: 1px solid var(--color-medium);
}

.socialLinks ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.socialLinks ul li {
  cursor: pointer;
}

.icon {
  font-size: 2.5rem !important;
  color: var(--color-primary);
  transition: all 0.3s ease-in-out !important;
}

.icon:hover {
  color: var(--color-medium);
  transform: scale(1.1);
}

@media (max-width: 568px) {
  .footerContainer {
    flex-direction: column;
    gap: 3rem;
  }

  .footerLogo {
    justify-content: center;
  }
}
