.singlePageContainer {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.singlePostContent {
  padding: 2rem;
  color: #111;
}

.time {
  color: var(--color-medium);
}

.author {
  color: #065f28;
}

.author span,
.time span {
  color: #808080;
}

.singlePageContainer a {
  padding: 0.75rem 1.5rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

.singlePageContainer a:hover {
  background-color: var(--color-medium);
}

@media (max-width: 568px) {
  .singlePageContainer {
    padding: 0 2rem;
  }

  .singlePostContent {
    padding: 2rem 0;
  }
}
