.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.about img {
  border-radius: 50%;
}

.aboutInfo {
  background-color: var(--color-dark);
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
}

.aboutInfo h2 {
  font-size: 2rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.btn a {
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  background-color: var(--color-medium);
  color: var(--color-light);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  border-radius: 25px;
}

.btn a:hover {
  background-color: var(--color-dark);
}

@media (max-width: 568px) {
  .about {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .aboutInfo {
    padding: 2rem;
  }

  .btn {
    justify-content: center;
  }
}
