@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  /* FONTS SETUP */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Roboto Mono", monospace;

  /* CONTENT AREA */
  --max-width: 1400px;

  /* COLORS */
  --color-primary: rgba(245, 203, 92, 1);
  --color-medium: rgba(240, 69, 66, 1);
  --color-secondary: rgba(20, 32, 62, 1);
  --color-dark: rgba(42, 42, 40, 1);
  --color-dark-secondary: rgba(51, 53, 51, 1);
  --color-light: rgba(248, 249, 250, 1);
  --color-light-secondary: rgba(233, 236, 239, 1);
  --color-danger: hsl(353, 86%, 56%);
  --color-info: hsl(190, 100%, 42%);
  --color-success: hsl(150, 42%, 62%);
}

html,
body {
  font-family: var(--font-primary);
  background: var(--color-light);
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-family: var(--font-secondary);
  line-height: normal;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* UTILITY CLASSES */
.container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

.py-min {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.my-min {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}
